<div class="navbar navbar-fixed-bottom">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<div class="span12" style="color:white;">
            <h4><I><U>About Aplication : </U></I></h4> 
                            This is a sample application using bootstrap and angular js . Here we are gonna do some Student and Employee management  using this template along with  Angular JS which is SPA(Single Page Application) . This application is maily those who are learning  Angular JS(SPA) .
             
        </div>
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->